@import "../../../assets/styles/variable.scss";

.pager {
    padding: 20px;
    ul {
        float: right;
        li {
            float: left;
            line-height: 32px;
            padding: 0 15px;
            cursor: pointer;
            position: relative;
            border: 1px solid $borderColor;
            border-left: 0;
            &:first-child {
                border-left: 1px solid $borderColor;
                cursor: default;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                &:hover {
                    background: none;
                    color: #333;
                    border-color: $borderColor;
                }
            }
            &:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            &.text {
                padding: 0 20px;
            }
            &.cur, &:hover {
                background-color: $backgroundColor;
                color: #fff;
                border-color: $backgroundColor;
            }
        }
    }
}
