@import '../../../assets/styles/variable.scss';

.container {
    width: 216px;
    line-height: 20px;
    display: inline-block;
    color: $textColor;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    max-width: 100%;
    .iconfont {
        font-size: 12px;
    }
    &.disabled {
        .top {
            color: #ccc;
            background-color: #f5f5f5;
            cursor: not-allowed;
        }
    }
    .top {
        padding: 7px 7px;
        border-radius: $borderRradius;
        border: 1px solid $borderColor;
        transition: $transitionAll;
        min-height: 20px;
        position: relative;
        .item {
            display: inline-block;
            max-width: 80%;
            padding: 2px 22px 2px 10px;
            line-height: 18px;
            position: relative;
            color: #333;
            border: 1px solid $borderColor;
            margin: 5px;
            cursor: default;
            .close {
                display: inline-block;
                cursor: pointer;
                position: absolute;
                right: 6px;
                top: 3px;
                .iconfont {
                    font-size: 12px;
                }
            }
        }
    }
    .down {
        max-height: 250px;
        position: absolute;
        width: 100%;
        z-index: 10;background: #fff;
        border-radius: $borderRradius;
        box-shadow: 0 2px 2px 0 rgba(206,211,223,0.60);
        overflow-y: hidden;
        &.pos-top {
            bottom: calc(100% + 10px);
        }
        &.pos-bottom {
            top: calc(100% + 10px);
        }
        > div {
            overflow-y: auto;
            max-height: 300px;
            position: relative;
        }
        li {
            padding: 3px 7px;
            line-height: 18px;
            transition: $transitionAll;
            cursor: default;
            color: #2a2a2a;
            &:hover {
                color: #151515;
                background: #E0E0E0;
            }
            &.checked {
                color: #CCCCCC;
                &:hover {
                    cursor: not-allowed;
                    background: #fff;
                }
            }
            &:first-child {
                margin-top: 10px;
            }
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
}
