@import './tooltip.scss';

html {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    color: #333;
}

// 文本溢出
.text-overflow {
    display: block;
    width: auto;
    word-break: keep-all;
    /* 不换行 */
    white-space: nowrap;
    /* 不换行 */
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multi-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// 显示隐藏
.hidden {
    display: none;
}

// 清除浮动
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

// 各种margin padding
$maxIndex: 30;
$unit: 1px;
@for $i from 0 through $maxIndex {
    .pt#{$i} {
        padding-top: $unit * $i;
    }
    .pr#{$i} {
        padding-right: $unit * $i;
    }
    .pb#{$i} {
        padding-bottom: $unit * $i;
    }
    .pl#{$i} {
        padding-left: $unit * $i;
    }
    .ptb#{$i} {
        padding: $unit * $i 0;
    }
    .plr#{$i} {
        padding: auto $unit * $i;
    }
    .mt#{$i} {
        margin-top: $unit * $i;
    }
    .mr#{$i} {
        margin-right: $unit * $i;
    }
    .mb#{$i} {
        margin-bottom: $unit * $i;
    }
    .ml#{$i} {
        margin-left: $unit * $i;
    }
    .mtb#{$i} {
        margin: $unit * $i 0;
    }
    .mlr#{$i} {
        margin: auto $unit * $i;
    }
}

// 水平对齐
.line > *{
    display: inline-block;
    vertical-align: middle;
}

// 超链接
.link {
    color: #007fff;
    cursor: pointer;
    &:hover {
        color: #0371df;
    }
    &.checked {
        color: #2121F7;
    }
    &.disable {
        color: #999;
        cursor: not-allowed;
    }
}

// 隐藏
.hidden {
    display: none;
}

/* Change autocomplete styles in WebKit */
//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus,
//input:-webkit-autofill,
//textarea:-webkit-autofill,
//textarea:-webkit-autofill:hover,
//textarea:-webkit-autofill:focus,
//select:-webkit-autofill,
//select:-webkit-autofill:hover,
//select:-webkit-autofill:focus {
//    -webkit-text-fill-color: #fff;
//    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
//    transition: background-color 5000s ease-in-out 0s;
//}

/**
    一组from表单样式 基本模板
    <span class="input-container">
        <input type="text" [class.error]="errorType===1" [(ngModel)]="dbName" placeholder="数据库名">
        <span class="input-error" *ngIf="error">{{error}}</span>
    </span>
 */
.input-container {
    display: inline-block;
    position: relative;

    input[type="text"], input[type="password"], select, textarea {
        border: 1px solid #93C2FC;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }
    input[type="text"]:hover, input[type="password"], input[type="text"]:active, textarea:active {
        border: 1px solid #89BCFC;
    }
    select {
        width: 162px;
    }

    input.error {
        border-color: #FA1515;
    }
    span.input-error {
        display: inline-block;
        position: absolute;
        bottom: -20px;
        left: 0;
        color: #FA1515;
    }
}
