@import '../../../assets/styles/variable.scss';

.container {
    width: 100%;
    line-height: 20px;
    display: inline-block;
    color: $textColor;
    position: relative;
    max-width: 100%;
    letter-spacing: 1px;
    color: #333333;
    font-size: 14px;
    &.disabled {
        .top {
            color: #CCCCCC;
            background: #F5F5F5;
            cursor: not-allowed;
        }
    }
    .top {
        padding: 3px 7px;
        border-radius: $borderRradius;
        border: 1px solid $borderColor;
        transition: $transitionAll;
        color: #333333;
        cursor: default;
        position: relative;
        .item {
            width: 80%;
            display: inline-block;
            height: 16px;
            line-height: 16px;
            position: relative;
            top: 3px;
        }
        .placeholder {
            color: rgba(0, 0, 0, 0.45);
        }
        &.showDown {
            border-color: $backgroundColor;
            color: $backgroundColor;
            .iconfont {
                transform: rotate(180deg);
            }
        }
        .iconfont {
            float: right;
            margin-right: 5px;
            transition: all 0.2s ease;
            font-size: 12px;
            cursor: pointer;
        }
        .arrow {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        .clear {
            position: absolute;
            top: 5px;
            right: 20px;
        }
    }
    .down {
        max-height: 250px;
        position: absolute;
        width: 100%;
        z-index: 10;
        background: #fff;
        border-radius: $borderRradius;
        box-shadow: 1px 0 5px rgba(0, 0, 0, .1),
            -1px 0 5px rgba(0, 0, 0, .1);

        overflow-y: hidden;
        &.pos-top {
            bottom: calc(100% + 10px);
        }
        &.pos-bottom {
            top: calc(100% + 10px);
        }
        .search {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            height: auto;
            background: #fff;
            padding: 6px 18px;
            &.pos-top {
                bottom: 0;
            }
            &.pos-bottom {
                top: 0;
            }
            input {
                padding: 3px;
                width: 100%;
                position: relative;
                left: -8px;
            }
        }
        .search-blank {
            height: 38px;
        }
        .content {
            overflow-y: auto;
            max-height: 200px;
            position: relative;
        }
        li {
            padding: 3px 7px;
            transition: $transitionAll;
            cursor: default;
            color: #2A2A2A;
            &:hover {
                background: #E0E0E0;
                color: #151515;
            }
            &.checked {
                background: #fff;
                color: #4499EE;
                cursor: not-allowed;
            }
            &.single {
                //color: rgba(0, 0, 0, 0.25);
                color: #4499EE;
                background: #fff;
                cursor: not-allowed;
            }
        }
    }
}
