@import '../../../assets/styles/variable.scss';

.container {
    width: 216px;
    line-height: 20px;
    display: inline-block;
    color: $textColor;
    &.disabled {
        .top {
            color: rgba(0, 0, 0, .25);
            background-color: #f7f7f7;
            cursor: not-allowed;
        }
    }
    .top {
        padding: 3px 7px;
        border-radius: $borderRradius;
        border: 1px solid $borderColor;
        transition: $transitionAll;
        &.showDown {
            border-color: $backgroundColor;
            color: $backgroundColor;
            .iconfont {
                transform: rotate(180deg);
            }
        }
        .iconfont {
            float: right;
            margin-right: 5px;
            transition: all 0.2s ease;
            font-size: 12px;
        }
    }
    .down {
        max-height: 300px;
        position: absolute;
        width: 100%;
        z-index: 10;
        > div {
            overflow-y: auto;
            max-height: 300px;
            background: #fff;
            border-radius: $borderRradius;
            box-shadow: 1px 0 5px rgba(0, 0, 0, .1),
                        -1px 0 5px rgba(0, 0, 0, .1);
            position: relative;
            top: 5px;
        }
        li {
            padding: 3px 7px;
            transition: $transitionAll;
            &:hover {
                background: rgba(236, 246, 253, .8);
            }
            &.checked {
                background: rgba(236, 246, 253, .8);
            }
        }
    }
}
